Django
gunicorn
psycopg2-binary
celery
redis
django-redis
python-dotenv
requests           # For making HTTP requests
beautifulsoup4     # For parsing HTML (used with requests)
tqdm               # For displaying progress bars
selenium
